body {
  background-color: #ff9500;
  width: 600px;
  margin: 10rem auto;
  padding: 2rem;
  box-shadow: 2rem 1rem 0.5rem #ff9100da;
  border: 0.5rem solid black;
}
html {
  background-color: #00539f;
  font-size: 62.5%;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 20px 0;
  /* color: #00539f; */
  /* text-shadow: 3px 3px 1px black; */
}
